<!DOCTYPE html>
<html>
    <head>
        <title>All the Articles</title>
     </head>
    <body>

    <% @articles.each do |article| %>
        <h2><%= article.title %></h2>
        <p><%= article.content %></p>
    <% end %>
    </body>
</html>