<form action="/articles" method="post">
   
    <label for="Title"> Article Title:</label>
    <input id="title" type="text" name="article[title]">

    <label for="Content"> Article Content:</label>
    <input id="content" type="text" name="article[content]">


    <button type="submit" name="submit" id="Submit" value="submit">Submit</button>
</form>