<h2>Add a New Article</h2>

<form action="/articles" method="post">
<p><label for="title">Title:
<input type="text" name="article[title]" id="title" /></label></p>

<p><label for="content">Content:
<textarea name="article[content]" id="content"></textarea></label></p>
<button type="submit" value="submit">Submit</button>