<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Article</title>
</head>
<body>
    <h1>Create Article</h1>
    <form action="/articles" method="POST">
        <p>Article Title: <input type="text" name="title" id="title"></p>
        <p>Article Content:<input type="text" name="content" id="content"></p>
        <button type="submit" value="Submit">Submit article</button>
    </form>
</body>
</html>